{# NEH: Edited Footer, Added styles.css #}
{% set compress = theme_var('production_mode') ? '.min.css' : '.css' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
{% include 'partials/head.html.twig' %}
{# Region Sidebar #}
{% if header.region__sidebar_one__enabled %}{% set sidebar = 'layout-sidebar-one' %}{% endif %}
{# block body_layout from shop + product twig #}
<body id="top" class="{% block body_layout %}{% endblock %} {{ sidebar }} {% if header.body_classes %}{{ header.body_classes }}{% endif %} {% if header.hero__visible == true %}{{ header.hero__size_class }}{% endif %}">
  <!-- Google Tag Manager (noscript) -->
  <!--
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD95K5P"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  -->
  <!-- End Google Tag Manager (noscript) -->
  <div class="wrapper u-clearfix">
    {# Header #}
    {% block header %}
      {% include 'partials/region/header.html.twig' %}
    {% endblock %}
    {# End: Header #}

    {# Hero #}
    {% block hero %}{% endblock %}
    {# End: Hero #}

    {# Main #}
    {% block main %}
      {% block messages %}
          {% include 'partials/messages.html.twig' ignore missing %}
      {% endblock %}
      {# Block Title + Content from Partials #}
      {% block title %}{% endblock %}
      {% block content %}{% endblock %}
      {# End Comment: Block Title + Content from Partials #}
    {% endblock %}
    {# End: Main #}

  {# Footer_Pre Region: Optional #}
  {% if page.header.region__footer_pre__enabled %}
    {% include 'partials/region/footer-pre.html.twig' ignore missing %}
  {% endif %}
  {# End Footer_Pre Region: Optional #}

  {% block footer %}
    {% include 'partials/region/footer.html.twig' %}
  {% endblock %}
</div> <!-- Wrapper: End -->


{# 'Register' JS and optionally categorize into a group #}
{% block javascripts %}
    {% do assets.addJs('jquery', {group: 'bottom'}) %}
{#    {% do assets.addJs('theme://js/lightslider.js', {group: 'bottom'}) %} #}
    {# Load site.js after Lightslider b/c this overrides/complements lightslider.js #}
    {% do assets.addJs('theme://js/dist/site.js', {'loading':'async', group: 'bottom'}) %}
    {# Isotope 2 files isotope + imagesloaded #}
{#    {% do assets.addJs('theme://js/dist/isotope.pkgd.js', {group: 'bottom'}) %} #}
{#    {% do assets.addJs('theme://js/dist/imagesloaded.pkgd.js', {group: 'bottom'}) %} #}
    {% do assets.addJs('https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NWQ0ZGNlODQtZTAwMi00Mjk1LWE3OWUtMjcyMGRjNWVjOTY0NjM2MTIxNDA5NjYzNjA1MzI2', {'loading':'async', group: 'snipcart-vendor'}) %}
    {% do assets.addJs('theme://js/dist/snipcart-custom.js', {'loading':'async', group: 'snipcart-custom'}) %}
{% endblock %}
{# Render CSS and JS in order by group, or no group #}
{% block assets_bottom %}
  {{ assets.js('bottom') }}
  {{ assets.js('snipcart-vendor') }}
  {{ assets.js('snipcart-custom') }}
  {# Ungrouped CSS and JS such as with plugins that have not defined a group #}
  {{ assets.js() }}
  {{ assets.css('snipcart-vendor') }}
  {# Snipcart custom/modal included below #}
  {{ assets.css() }}
{% endblock %}
{# Menu Mobile #}
  {# {% include 'partials/menu-mobile.html.twig' %} #}
{# End Menu Mobile #}
<style>
</style>
</body>{# End Page Body #}
