<head>
{% block head %}
  <!-- Set character encoding -->
  <meta charset="utf-8" />
  {# <title>{% if header.title %}{{ header.title|e('html') }} {% endif %} | {{ site.title|e('html') }} </title> #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Set the viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PWA: START -->
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#336abf">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#black">
  <meta name="apple-mobile-web-app-title" content="Jaxlicious">
  <link rel="apple-touch-icon" href="/user/themes/bodigiti/images/touch/icon-192x192.png">
  <!-- Tile for Windows -->
  <meta name="msapplication-navbutton-color" content="#622493">
  <meta name="msapplication-TileColor" content="#622493">
  <meta name="msapplication-TileImage" content="/user/themes/bodigiti/images/touch/icon-144x144.png">
  <!-- PWA: END -->
  <!-- Meta: START -->
  <title>Jaxlicious | We're having fun in Jacksonville, Florida</title>
  {% include 'partials/metadata.html.twig' %}
  <!-- Meta: END -->
  <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M7ZQQSJ');</script>
  <!-- End Google Tag Manager -->
{# 'Register' CSS and optionally categorize into a group #}
{# For Additional Styles Rendering see bottom of base.html.twig #}
{# For JS Rendering see bottom of base.html.twig #}
{% block stylesheets %}
  {% do assets.addCss('theme://style/css/styles.css', {group:'top'}) %}
  {% do assets.addCss('https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css', {group:'snipcart-vendor'}) %}
  {% do assets.addCss('theme://style/css/snipcart-modal.css', 108) %}
  {% if browser.getBrowser == 'msie' and browser.getVersion >= 10 %}
      {% do assets.addCss('theme://style/css/ie10-plus.css') %}
  {% endif %}
{% endblock %}
{#
 # LazySizes: Includes LazyLoad + Responsive Breakpoints for <picture> 
#}
<script src="/user/themes/bodigiti/js/dist/lazysizes.min.js" async=""></script>
{# Render Primary Styles.css #}
{{ assets.css('top') }}

{# Google reCaptcha #}
{# <script src="https://www.google.com/recaptcha/api.js" async defer></script> #}
{% endblock head %}
</head>